<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-geral" style="height: 90px;">
        <div class="container-fluid">
            <h4 class="text-dark titulo_navbar">ForTechCode</h4>
        </div>
    </nav>
</div>
<div th:fragment="navbar_dashboard" th:object="${usuarioModel}">
    <nav class="navbar navbar_dashboard bg-body-tertiary">
        <div class="container-fluid">
            <h6 class="navbar-brand text-dark" th:text="${usuarioModel.nome}"></h6>
            <a class="botao-geral" th:href="@{areadocliente/perfil/{id}(id=${usuarioModel.id})}">Perfil</a>
        </div>
    </nav>
</div>

