<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/header :: header}"></head>
    <body>
        <nav class="navbar navbar-geral">
            <div class="container-fluid">
                <h4 class="text-dark titulo_navbar">ForTechCode</h4>
                <div class="d-flex">
                    <a style="text-decoration: none;" class="text-dark" href="/"><button class="btn btn botao-geral" type="submit" style="margin-top: 10px;">Voltar para o site</button></a>
                </div>
            </div>
        </nav>

        <form th:action="@{/areadocliente/salvarUsuario/}" th:object="${usuarioModel}" method="post">
            <div class="container-fluid">
                <div class="row d-flex">
                    <div class="col-12">
                        <div class="d-flex mt-5 justify-content-center">
                            <div class="card mb-3 card-cadastro">
                                <div class="card-body" >
                                    <h2 class="text-dark">Cadastre-se</h2>
                                    <div class="col-12 mt-2 mb-3">
                                        <label class="col-12 mb-2 mt-2 text-dark">Nome*</label>
                                        <input class=" input-cadastro-login col-12" type="text" name="nome" th:field="*{nome}" autocomplete="off">
                                    </div>
                                    <div class="col-12 mt-2 mb-3">
                                        <label class="col-12 mb-2 mt-2 text-dark">Sobrenome*</label>
                                        <input class=" input-cadastro-login col-12" type="text" name="sobrenome" th:field="*{sobrenome}" autocomplete="off">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="col-12 mb-2 mt-2 text-dark">E-mail*</label>
                                        <input class=" input-cadastro-login col-12" type="email" name="email" th:field="*{email}" autocomplete="off">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="col-12 mb-2 mt-2 text-dark">Senha*</label>
                                        <input class=" input-cadastro-login col-12" type="password" name="senha" th:field="*{senha}" autocomplete="off">
                                    </div>
                                    <hr class="text-dark mt-2">
                                    <div class="col-12 mt-2">
                                        <label class="text-dark">Já possui uma conta?<a class="text-dark" style="text-decoration:underline;" href="/login">Faça o login</a></label>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <button class="botao-geral botao-geral-branco" style="width: 100%;" role="button">Cadastrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>

</html>